
body {
  font-size: 1.2em;
	width: 80%;
	margin: 0 auto;
  text-align: justify;
}

img {
	float: left;
}

aside article {
  margin-top: 20%;
}

aside article footer {
  margin-top: 2%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.page-header {
	margin-top: 3%;
}

.div-header {
  background-image: url('../images/header-2.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 14em;
}

.navigation {
  float: right;
  margin-right: 0.4em;
}

.navigation ul {
	list-style-type: none;
}

.navigation ul li {
	float: left;
	padding: 0.4em 0.8em;
}

.navigation li:hover {
	background-color: #999;
  opacity: 0.8;
}

.navigation span {
  margin-right: 0.5em;
}

aside {
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

aside.frases {
  display: block;
  padding: 5% 4%;
  float: right;
  width: 15%;
}

aside.frases-fim {
  display: none;
}

section.posts {
	width: 77%;
	float: left;
}

input {
  width: 60%;
  float: left;
}

.post {
	padding: 1em;
}

.main {
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

.page-footer {
	padding: 5%;
}

.about ul {
	list-style-type: none;
	font-weight: bold;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }

@media screen and (max-width: 72em) {
  .navigation ul li {
    float: none;
  	padding: 0.4em 0.8em;
  }
}

@media screen and (max-width: 44em) {

	nav {
    ul > li {
			margin-top: 1px;
      width: 100%;
    }
  }

  .navigation {
  	float: none;
  }
}

@media screen and (max-width: 79em) {
  section.posts {
  	width: 100%;
  	float: left;
  }

  aside.frases {
    display: none;
  }

  aside.frases-fim {
    display: block;
    float: left;
    width: 100%;
  }

  aside article {
    margin-top: 5%;
    padding: 2%;
  }

  aside header {
    padding-left: 2%;
  }
}

.center {
  margin: 0 auto;
  width: 10%;
}

.row {
  margin-top: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: block;

}
[class*="col-"] {
    float: left;
}
.coluna0 {width: 0%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.labels {
  display: none;
  float: left;
}
.labels_cadastro {
  float: left;
}

@media only screen and (max-width: 48em) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 75%;
    }

    [class*="header"] {
        display: none;
    }

    [class*="labels"] {
        display: block;
        width: 25%;
    }
}
