
body {
  font-size: 1.2em;
	width: 80%;
	margin: 0 auto;
  text-align: justify;
}

img {
	float: left;
}

aside article {
  margin-top: 20%;
}

aside article footer {
  margin-top: 2%;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

.page-header {
	margin-top: 3%;
}

.div-header {
  background-image: url('../images/header-2.jpg');
  background-size: 100% 100%;
  width: 100%;
  height: 14em;
}

.navigation {
  float: right;
  margin-right: 0.4em;
}

.navigation ul {
	list-style-type: none;
}

.navigation ul li {
	float: left;
	padding: 0.4em 0.8em;
}

.navigation li:hover {
	background-color: #999;
  opacity: 0.8;
}

.navigation span {
  margin-right: 0.5em;
}

aside {
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

aside.frases {
  display: block;
  padding: 5% 4%;
  float: right;
  width: 15%;
}

aside.frases-fim {
  display: none;
}

section.posts {
	width: 77%;
	float: left;
}

input {
  width: 60%;
  float: left;
}

.post {
	padding: 1em;
}

.main {
  background-color: rgba(0, 0, 0, 1);
  color: #FFFFFF;
}

.page-footer {
	padding: 5%;
}

.about ul {
	list-style-type: none;
	font-weight: bold;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }

@media screen and (max-width: 72em) {
  .navigation ul li {
    float: none;
  	padding: 0.4em 0.8em;
  }
}

@media screen and (max-width: 44em) {

	nav {
    ul > li {
			margin-top: 1px;
      width: 100%;
    }
  }

  .navigation {
  	float: none;
  }
}

@media screen and (max-width: 79em) {
  section.posts {
  	width: 100%;
  	float: left;
  }

  aside.frases {
    display: none;
  }

  aside.frases-fim {
    display: block;
    float: left;
    width: 100%;
  }

  aside article {
    margin-top: 5%;
    padding: 2%;
  }

  aside header {
    padding-left: 2%;
  }
}

.center {
  margin: 0 auto;
  width: 10%;
}

.row {
  margin-top: 20px;
}

.row::after {
    content: "";
    clear: both;
    display: block;

}
[class*="col-"] {
    float: left;
}
.coluna0 {width: 0%;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.labels {
  display: none;
  float: left;
}
.labels_cadastro {
  float: left;

}

@media only screen and (max-width: 48em) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 75%;
    }

    [class*="row header"] {
        display: none;
    }

    [class*="labels"] {
        display: block;
        width: 25%;
    }
}

@media screen and (max-width: 767px) {

  .div-header {
    background-image: url('../images/header-2.jpg');
    background-size: 0% 0%;
    width: 100%;
    height: 2em;
  }
  header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    border-left: 1px solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  header ul.list-auto {
    padding: 0;
  }

  header ul.list-auto li {
    width: 100%;
    border: solid #ccc;
    border-width: 0 0 1px;
  }

  header li a {
    padding: 15px 10px;
  }



  .control-nav { /* label icon */
    position: absolute;
    right: 20px;
    top: 20px;
    display: block;
    width: 30px;
    padding: 5px 0;
    border: solid #333;
    border-width: 3px 0;
    z-index: 2;
    cursor: pointer;
  }

  .control-nav:before {
    content: "";
    display: block;
    height: 3px;
    background: #333;
  }

  .control-nav-close {
    position: fixed; /* label layer */
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }

  /* checked nav */
  input#control-nav {
    display: block;
  }

  input#control-nav:focus ~ .control-nav {
    border-color: #000;
    box-shadow: 0px 0px 9px rgba(0,0,0,0.3);
  }

  input#control-nav:focus ~ .control-nav:before {
    background: #000;
  }

  input#control-nav:checked ~ nav,
  input#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  header+section {
    padding-top: 80px;
  }

  section {
    padding: 30px 15px 10px;
  }

  .highlights {
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
  }

  .highlights-item {
    width: 100%;
    margin-left: 0;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  .highlights-item p {
    opacity: 0;
    -webkit-transition: opacity 500ms 500ms ease-in-out;
    transition: opacity 500ms 500ms ease-in-out;
  }

  .highlights-buttons {
    display: block;
    padding-top: 10px;
  }

  /*checked*/
  .highlights input:checked + div {
    position: relative;
    opacity: 1;
    visibility: visible;
    z-index: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .highlights input:checked + div p {
    opacity: 1;
  }

  .highlights input:nth-of-type(1):checked ~ .highlights-buttons label:nth-child(1),
  .highlights input:nth-of-type(2):checked ~ .highlights-buttons label:nth-child(2),
  .highlights input:nth-of-type(3):checked ~ .highlights-buttons label:nth-child(3) {
    background-color: #000
  }

  .modal-content {
    padding: 10px 5%;
    min-width: 88%;
  }
}

input#control-nav {
  visibility: hidden;
  position: absolute;
  left: -9999px;
  opacity: 0;
}
